<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js" ></script>
    <script src="loginCtrl.js" ></script>
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-app="emcping" class="body">
    <h1>EMC Ping Login</h1>
    <form class='user--form' name="loginForm" ng-controller="loginCtrl">
        <div class='form-group'>
            <label>UserName:</label>
            <input class='form-control' type="text" ng-model="loginFormData.username">
            <label>Password:</label>
            <input class='form-control' type="password" ng-model="loginFormData.password">
            <input class='btn btn-default' type="submit" value="Login" ng-click="login()">
            <p ng-model="result">{{result}}</p>
        </div>
    </form>
</body>
</html>