<div ng-controller="askQuestionCtrl">
    <h2>EMC Ping - Get your questions answered! </h2>
    <form>
        <h3>Ask a question </h3><br> <br>
        Title <input type="text" ng-model="formData.title" required><br><br>
        Description <textarea type="text" ng-model="formData.content" required></textarea><br><br>
        Tags <input type="text" ng-model="formData.tags" ng-list required><br><br>
        <button class='btn btn-default' name="Submit" ng-click="submit()">Submit</button><br><br>
        <span ng-bind="message"></span >
    </form>
</div>
