<div ng-controller="askQuestionCtrl">
    <h1>EMC Ping - Answers your questions!</h1>
    <form>
        Ask a question <br> <br>
        Title <input type="text" ng-model="formData.title" required><br><br>
        Description <textarea type="text" ng-model="formData.content" required></textarea><br><br>
        Tags <input type="text" ng-model="formData.tags" ng-list required><br><br>
        <button name="Submit" ng-click="submit()">Submit</button><br><br>
        <span ng-bind="message"></span >
    </form>
</div>
