<link rel="stylesheet" href="styles/main.css">
<div>
    <div class="pageHeader">
        
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Top Questions</a></li>
            <li><a href="#">Ask a question</a></li>
            <li><a href="#">Top questions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#login">Login</a></li>
            <li><a href="#signup">Sign up</a></li>
            <li><a href="#logout">Log out</a></li>
        </ul>

    <div class="pageLeftMenu">
        <h2>Tags</h2>
        <nav>
            <ul>
                <li><a href="#">AAA</a></li>
                <li><a href="#">System Manager</a></li>
                <li><a href="#">Secrets</a></li>
                <li><a href="#">Secretsmgr</a></li>
                <li><a href="#">license</a></li>
                <li><a href="#">sysmgr</a></li>
            </ul>
        </nav>
    </div>
    <div class="pageSearch">
        <input type="search" placeholder="Search..." style="width: 70%">
    </div>
    <div class="pageContent">
        <h2>Questions</h2>
    </div>
</div>