<link rel="stylesheet" href="styles/main.css">
<div>
    <div class="pageHeader">
        <h1>EMC Ping</h1>
    </div>
    <div class="login">
        <a href="#login">Login</a> |
        <a href="#signup">SignUp</a>
    </div>

    <div class="pageLeftMenu">
        <h2>Tags</h2>
        <nav>
            <ul>
                <li><a href="#">AAA</a></li>
                <li><a href="#">System Manager</a></li>
                <li><a href="#">Secrets</a></li>
                <li><a href="#">Secretsmgr</a></li>
                <li><a href="#">license</a></li>
                <li><a href="#">sysmgr</a></li>
            </ul>
        </nav>
    </div>
    <div class="pageSearch">
        <input type="search" placeholder="Search..." style="width: 70%">
    </div>
    <div class="pageContent">
        <h2>Questions</h2>
    </div>
</div>