<div>
    <!-- Question title -->
    <h3 ng-model="questionTitle">{{questionTitle}}</h3>

    <!-- Content -->
    <p ng-model="questionContent">{{questionContent}}</p>
    By User: <p ng-model="questionUser">{{questionUser}}</p>
    <hr>

    <p></p>

    <!-- all answers till now -->
    <h2><mark>Answers:</mark></h2>
    <div ng-repeat="answer in answersList" >
        <pre class='answer'>
        <p>{{answer.content}}</p>

        <p>By User: {{answer.username}}</p>
        </pre>
    </div>
    <p></p>
</div>

<form name="answerForm" ng-controller="postAnswerCtrl">
    <div>
        Post Your Answer here:
        <p>Content: <input type="text" ng-model="answerFormData.content"></p>
        <input type="submit" value="Submit" ng-click="postAnswer()">
        <p ng-model="result">{{result}}</p>
    </div>
</form>