<div>
    <!-- Question title -->
    <h3 ng-model="questionTitle">{{questionTitle}}</h3>

    <!-- Content -->
    <p ng-model="questionContent">{{questionContent}}</p>
    <p style="color: #5bc0de" ng-model="questionUser">By User: {{questionUser}}</p>
    Tags:
    <span ng-repeat="tag in tags" class="label label-warning">
        {{tag}}
    </span>
    <hr>

    <p></p>

    <!-- all answers till now -->
    <h3><mark>Answers</mark></h3>
    <div ng-repeat="answer in answersList" >
        <pre class='answer'>
        <p>{{answer.content}}</p>

        <span style="color: #5bc0de">By User: {{answer.userId.username}}</span>
        </pre>
    </div>
    <p></p>
</div>

<form name="answerForm" ng-controller="postAnswerCtrl">
        <div class='login'>
          <div class='form-group'>
            <label class='control-label'>Post Your Answer here:</label>
            <input class='form-control' type="text" ng-model="answerFormData.content">
              <br>
            <input class='btn btn-default' type="submit" value="Submit" ng-click="postAnswer()">
          </div>
          <p ng-model="result">{{result}}</p>
        </div>
</form>