<div ng-controller="signupCtrl">
    <h1>Sign up as a new user</h1>
    <form>
      <div class='login'>
        <div class='form-group'>
          <label class='control-label'>Username</label>
          <input type="text" ng-model="formData.username" required>
        </div>
        <div class='form-group'>
          <label class='control-label'>Email</label> 
          <input type="email" ng-model="formData.email" required>
        </div>
        <div class='form-group'>
          <label class='control-label'>Password</label>
          <input type="password" ng-model="formData.password" required>
        </div>
        <div class='form-group'>
          <label class='control-label'>Confirm Password</label>
          <input type="password" ng-model="formData.confirmpassword" required>
        </div>
        <span ng-show="!areStringsEqual(formData.password, formData.confirmpassword)">Passwords are not matching</span>
        <button class='btn btn-default' name="Submit" ng-click="submit()", ng-disabled="!areStringsEqual(formData.password, formData.confirmpassword)">Submit</button>
        <span ng-bind="message"></span >
      </div>
    </form>

</div>