<!DOCTYPE html>
<html lang="en">
<head>
    <title>EMC ping</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app/app.js" ></script>
    <script src="indexCtrl.js" ></script>

</head>
<body ng-app="emcping">
    <form name="indexForm" ng-controller="indexCtrl">
        <div>
            <input type="button" value="Login" ng-click="login()">
            <input type="button" value="SignUp" ng-click="register()">
        </div>
    </form>
</body>
</html>