.tags--list {
  list-style: none;
  text-align: left;
}
.tags--title {
  text-align: left;
  margin-left: 1em;
}
.pageSearch {
  margin-top: 21px;
}

.pageContent {
  text-align: center;
  }
.login {
    text-align: left;
    vertical-align: middle;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2.5em;
}
